body {
    font-family: 微软雅黑;
}

.header logo {
    height: 90px;
    width: 130px;
    padding-top: 30px;
}

.top-bar {
    text-align: right;
    padding-top: 15px;
}

.top-nav {
    margin-top: 10px;
}

.list-inline li a {
    color: darkgray;
    font-size: 10px;
    font-family: "Arial Black";
}

.navbar {
    position: absolute;
    right:10px;
}

.nav li a {
    color: darkgray;
    font-size: 15px;
 }

.navbar li a:active {
    color: darkred;
}

.search {
    margin-top: 15px;
    text-align: right;
}

.searchBox {
    height: 23px;
    width: 120px;
    border: 1.5px solid #000;
    vertical-align: bottom;
    background-color: gainsboro;
    border-radius: 3px;
}

.searchIcon {
    vertical-align: bottom;
}

.cart-logo {
    margin-top: 20px;
    height: 90px;
    width: 60px;
    float: right;
}

.header-background {
    margin-top: 40px;
}

.content-background {
    background-image:url(../images/bg.png);
    background-repeat:no-repeat;
    background-position:center;
    margin:auto;

}

.content-hot {
    margin-top:50px;
}

.topic {
    margin-top: 50px;
    margin-bottom: 30px;
}

.line {
   border-bottom-color: #6c6c6c;
   border-bottom-style: solid;
   height: 38px;
}

.main-content {
    background-color: #ffffff;
    margin-left:5px;
    margin-right:5px;
    border-radius: 3px;
    box-shadow: 10px 10px 5px #888888;
}

.name {
    margin-left:20px;
}

.picture {
    margin-top:18px;
    margin-right:20px;
}

.introduction {
    margin-left:20px!important;
    margin-top:-10px;
    margin-bottom:-10px;
}

.price {
    text-align:left;
    margin-left:30px;
    padding-bottom:20px;
    color: red;
}

.theme {
    background-color:#FFFFFF;
    margin-top:70px;
}

.theme-content {
    margin:1%;
    border-style:solid;
    border-width:3px;
    border-color:#666;
}

.theme-name {
    margin-left:50px;
    margin-top:30px;
}

.theme-button {
    vertical-align:middle;
    margin-right:50px;
    margin-top:30px;
    background-color: black;
    color: #ffffff;
}

.theme-introduction {
    margin-left:50px;
    margin-bottom:30px;
}

.accessories {
    margin-top:40px;
}

.random-products {
    margin-top:40px;
}

.group {
    margin-left:5px;
    margin-right:5px;
    background-color:#ffffff;
    list-style:none;
}

.group li {
    padding-top:10px;
    padding-bottom:20px;
    font-size: 20px;
}

.footer-background {
    background-color:#e0e0e0;
}

.footer-information {
    margin-top:-10px;

}
    
.footer-contact {
    padding-top:70px;
    list-style:none;
}

.footer-contact li {
    color: #6c6c6c;
}

.other {
    padding-top:40px;
}

.little-header {
    font-weight: bold;
    font-size: 15px;
    color: #000000;
    margin-left: 10px;
}

.little-header1 {
    font-weight: bold;
}

.copyright {
    color: #6c6c6c;
    margin-left: 40px;
}


Status API Training Shop Blog About
© 2016 GitHub, Inc. Terms Privacy Securit