.header {
    width: 80%;
    height: 100px;
    margin-left: 10%;
    margin-top: 10px;
}

.top-nav {
    margin-top: 10px;
}

.list-inline li a {
    color: darkgray;
    font-size: 10px;
    font-family: "Arial Black";
}

.navbar {
    position: absolute;
    right:10px;
}

.nav li a {
    color: darkgray;
    font-size: 15px;
 }

.logo {
    height: 90px;
    width: 130px;
}

.cart-logo {
    height: 90px;
    width: 60px;
}

.navbar li a:active {
    color: darkred;
}

.search {
    margin-top: 15px;
    text-align: right;
}

.searchBox {
    height: 23px;
    width: 120px;
    border: 1px solid #000;
    vertical-align: bottom;
    background-color: gainsboro;
    border-radius: 3px;
}

.searchIcon {
    vertical-align: bottom;
}

.top-bar {
    margin:auto;
    text-align: right;
}