body {
	font-family: 微软雅黑;
}

.person_center_background {
	background-image:url(../images/bg.png);
	background-position: center;
	margin:auto;
}

.content-structure {
	margin-top: 50px;
}

.person-menu {
    width: 200px;
    margin-left: 100px;
    margin-right: 10px;
}

.menu-list {
	border-color: #8e8e8e;
	border-style: solid;
	border-width: 2px;
}

.menu-list thead tr td {
	border-color: #6c6c6c;
	border-style: solid;
	border-width: 2px;
	background-color: orange;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
}

.menu-list tbody tr td {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
}

.person-content {
	padding-right:50px;
}

.login {
	border-style: solid;
	border-width: 2px;
	border-color: #8e8e8e;
}

.collect-header {
	margin-top: 10px;
}

.collect-header h3 {
	font-weight: bold;
	font-size: 30px;
}

.collect-content {
	border-width: 2px;
	border-color: #8e8e8e;
	border-style: solid;
}

.collect-menu {
	margin-top: 30px;
	margin-bottom: 30px;
}

.collect-menu li {
	padding-left: 80px;
	padding-right: 80px;
	font-size: 20px;
}

.collect-menu li a {
	font-size: 20px;
	color: #6c6c6c;
}

.attribute {
	margin-top: 40px;
	background-color: #e0e0e0;
}

.collect-item {
	margin-top: 30px;
	border-style: solid;
	border-color: #888888;
	border-width: 2px;
}

.collect-item-header {
	vertical-align: middle;
	background-color: #ffffff;
	margin-right: 0px;
	margin-left: 0px;
}

.collect-item-content {
	margin-top: 20px;
	margin-bottom: 10px;
}

.page {
	margin-top: 30px;
}

.page-item {
	list-style: none;
}

.page-item li {
	border-width: 2px;
	border-style: solid;
	border-color: red;
	margin-right: -6px;
}

.proposal-header {
	margin-top: 40px;
	font-weight: 600;
}

.proposal-content {

}

.proposal-main-content {
	border-color: #8e8e8e;
	border-width: 2px;
	border-style: solid;
    margin-left:5px;
    margin-right:5px;
}

.proposal-name {
	text-align: left;
	margin-left: 20px;
}

.proposal-price {
	text-align: left;
	margin-left: 20px;
}

.proposal-people {
	text-align: left;
	margin-left: 20px;
}

.small-page {
	padding-top: -10px;
	padding-bottom: -10px;
}

.point {
	cursor: pointer;
	font-size: 100px;
}

.all-content {
	padding-top:70px;
	vertical-align: middle;
}

.all-content label {
	vertical-align: middle;
	font-size: 25px;
	font-weight: 500;
}

.content-price {
	padding-top:90px;
	vertical-align: middle;
}

.content-price label {
	vertical-align: middle;
	font-size: 40px;
	font-weight: 500;
	color: red;
}

.btn-blue {
	color:white;
	width: 120px;
	background: red;
	margin-top: 90px;
}