.background {
    background-image: url("../images/bg.png");
    height: 2530px;
    width: 1162px;
    margin:auto;
    left:0;
    right:0;
}

.container {
    width:90%;
    margin-left: 5%;
}

.top-products {
    margin-top: 141px;
}

.hot-small {
    background-image: url("../images/top-product_03.png");
    height: 220px;
    width: 300px;
    margin:auto;
    left:0;
    right:0;
}

.hot-small h4 {
    text-align: center;
    padding-top: 10px;
    letter-spacing: 5px;
}

.line {
    margin:auto;
    left:0;
    right:0;
    width:30px;
    border: 1px solid #000000;
}

.dis {
    margin-top: 10px;
}

.dis p{
    margin-top: -5px;
    text-align: center;
    font-size: 5px;
}

.price {
    text-align: center;
    font-size: 5px;
    color: brown;
}

.top-product-footer {
}

.top-product-footer div{
    text-align: center;
}

.btn-black{
    font-size: 5px;
    background-color: black;
    color: azure;
}

.btn-black{
    font-size: 5px;
    background-color: gray;
    color: azure;
}

.result-list {

}

.result-list li{
    list-style-type: none;
}

.result-item {
    margin:auto;
    left:0;
    right:0;
}

.result-item h1 {
    text-align: center;
    padding-top: 10px;
    letter-spacing: 5px;
}