.left-list{
    border:1px solid white;
    margin-top: 40px;
    width: 200px;
}

.left-list-header{
    border: 1px solid white;
    background-color: orange;
    color: white;
    text-align: center;
}

.left-list-body{
    text-align: center;
    color: #EEEEE0;
    background-color:#000;
    opacity:0.5;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    list-style-type: none;
    margin-left: -30px;
}

.left-list-body li{
    margin-top: 25px;
}

.left-list-body a{
    color: orange;
}

.big-search{
    text-align: center;
    margin-top: 30%;
}

.big-search-box{
    height: 50px;
    width: 400px;
    border: 1px solid white;
    background-color: #000;
    opacity: 0.5;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    border-radius: 5px;
    color: white;
    font-size: 15px;
}

.search-btn{
    height: 50px;
    background-color: orange;
    color: #FFFFFF;
}

.sections{
    height: 300px;
    border: 1px solid black;
    padding-top: 5%;
}

.title-box{
    height: 50px;
    border: 1px solid white;
    width: 200px;
    margin: auto;
    left:0;
    right:0;
    text-align: center;
}

.title-box h2{
    color: white;
    margin-top: 5px;
}

.big-section{
    height: 500px;
    border: 1px solid black;
    text-align: center;
}

.big-section h2{
    color: white;
    padding-top: 20%;
}

.recommend{
    width: 90%;
    margin-top: 40px;
    margin-left: 5%;
    margin-bottom: 40px;
    background-image: url("../images/bg.png");
}

.recommend-item{
    border:1px solid #CCCCCC;
    text-align: center;
    width: 20%;
    margin-left: 5%;
}

.price{
    text-align: center;
    color:red;
}

.comment{
    color: cornflowerblue;
}
.small-product-img{
    width: 90%;
    height: 300px;
}

.top-product-footer {
}

.top-product-footer div{
    text-align: center;
}

.btn-red{
    font-size: 20px;
    background-color: red;
    color: azure;
    width:150px;
    margin-left: 20px;
}

.btn-orange {
    font-size: 20px;
    background-color: orange;
    color: azure;
    width: 150px;
    margin-left: 20px;
}

.btn-row{
    margin-top: 50px;

}

.dis p{
    margin-top: 10px;
    margin-right: 10px;
    font-size: 20px;
}

.price {
    text-align: center;
    font-size: 5px;
    color: brown;
    margin-top: 40px;
}

.product-list{
    list-style-type: none;
}

.product{
    text-align: center;
    border-top:2px solid #EEEEE0;
    margin-top: 20px;
}

.product h3 {

    margin-top: 20px;
}

.pagination {
    margin: auto;
    left:0;
    right:0;
}

.product-img{
    margin-bottom: 20px;
    width: 400px;
    height: 300px;
}

.title-line{
    border-bottom: 4px solid #000000;
    margin-top: 40px;
}

.product-name {
    margin-top: 50px;
    font-size: 30px;
}